{% extends 'movieblog/../base_accounts.html' %}
{% load static %}

{% block title %}
    Смена пароля
{% endblock %}

{% block content %}
    <section class="container change__password__window">
        <div class="register__window-wrapper">
            <div class="toggle__mode">
                <input type="checkbox" class="toggle-mode__checkbox" id="toggle-mode__checkbox">
                <label class="toggle-mode__label" for="toggle-mode__checkbox">
                    <i class="fas fa-moon"></i>
                    <i class="fas fa-sun"></i>
                    <span class="toggle-mode__ball"></span>
                </label>
            </div>
            <a href="{% url 'home' %}" class="register__window-logo">
                <img src="{% static 'images/movieblog.png' %}" alt="MovieBlog icon">
                <span>MovieBlog</span>
            </a>
            <form class="register__window-form" method="post">
                {% csrf_token %}
                <h1>Смена пароля</h1>

                {% if form.errors %}
                    <ul class="error-list">
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                {% endif %}

                <div class="register__window-form-content">
                    {{ form.old_password }}
                    {{ form.new_password1 }}
                    {{ form.new_password2 }}
                    <button class="register__window-button" type="submit">Сохранить</button>
                </div>
                <img class="register__window-form-img clapperboard" src="{% static 'images/031-clapperboard.png' %}"
                     alt="clapperboard icon">
                <img class="register__window-form-img director-chair" src="{% static 'images/032-director-chair.png' %}"
                     alt="chair icon">
            </form>
        </div>
    </section>
{% endblock %}