{% extends 'base_accounts.html' %}
{% load static %}

{% block title %}
    Подтверждение сброса пароля
{% endblock %}

{% block content %}
    <section class="container forgot__password__window">
        <div class="forgot__password-wrapper">
            <div class="toggle__mode">
                <input type="checkbox" class="toggle-mode__checkbox" id="toggle-mode__checkbox">
                <label class="toggle-mode__label" for="toggle-mode__checkbox">
                    <i class="fas fa-moon"></i>
                    <i class="fas fa-sun"></i>
                    <span class="toggle-mode__ball"></span>
                </label>
            </div>
            <a href="{% url 'home' %}" class="register__window-logo">
                <img src="{% static 'images/movieblog.png' %}" alt="MovieBlog icon">
                <span>MovieBlog</span>
            </a>
            <div class="forgot__password__confirmation">
                <h1>Уведомление</h1>
                <p>
                    Ваш пароль сброшен. Для входа в приложение перейдите по <a
                        href="{% url 'accounts:login' %}">ссылке</a>.
                </p>
                <img class="confirmation-mail" src="{% static 'images/gmail.svg' %}" alt="mail icon">
            </div>
        </div>
    </section>
{% endblock %}