{% extends 'movieblog/base_account.html' %}
{% load static %}

{% block title %}
    Смена пароля
{% endblock %}

{% block content %}
    {% if validlink %}
        <section class="container reset__password__window">
            <div class="register__window-wrapper">
                <div class="toggle__mode">
                    <input type="checkbox" class="toggle-mode__checkbox" id="toggle-mode__checkbox">
                    <label class="toggle-mode__label" for="toggle-mode__checkbox">
                        <i class="fas fa-moon"></i>
                        <i class="fas fa-sun"></i>
                        <span class="toggle-mode__ball"></span>
                    </label>
                </div>
                <a href="{% url 'home' %}" class="register__window-logo">
                    <img src="{% static 'images/movieblog.png' %}" alt="MovieBlog icon">
                    <span>MovieBlog</span>
                </a>
                <form action="" class="register__window-form" method="post">
                    {% csrf_token %}
                    <h1>Сброс пароля</h1>
                    <div class="register__window-form-content">
                        {% if form.errors %}
                            <ul>
                                {% for field in form.field %}
                                    {% for error in field.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                        {{ form.new_password1 }}
                        {{ form.new_password2 }}
                        <button class="register__window-button" type="submit">Сбросить</button>
                    </div>
                    <img class="register__window-form-img clapperboard" src="{% static 'images/031-clapperboard.png' %}"
                         alt="clapperboard icon">
                    <img class="register__window-form-img director-chair"
                         src="{% static 'images/032-director-chair.png' %}" alt="chair icon">
                </form>
            </div>
        </section>
    {% endif %}
{% endblock %}