{% extends 'movieblog/../base_accounts.html' %}
{% load static %}

{% block title %}
    Сброс пароля
{% endblock %}

{% block content %}
    <section class="container forgot__password__window">
        <div class="register__window-wrapper">
            <div class="toggle__mode">
                <input type="checkbox" class="toggle-mode__checkbox" id="toggle-mode__checkbox">
                <label class="toggle-mode__label" for="toggle-mode__checkbox">
                    <i class="fas fa-moon"></i>
                    <i class="fas fa-sun"></i>
                    <span class="toggle-mode__ball"></span>
                </label>
            </div>
            <a href="{% url 'home' %}" class="register__window-logo">
                <img src="{% static 'images/movieblog.png' %}" alt="MovieBlog icon">
                <span>MovieBlog</span>
            </a>
            <form action="" method="post" class="register__window-form">
                <h1>Забыли пароль?</h1>
                {% csrf_token %}
                {% if form.email.errors %}
                    {{ form.email.errors }}
                {% endif %}
                <div class="register__window-form-content">
                    {{ form.email }}
                    <button class="register__window-button" type="submit">Отправить</button>
                </div>
                <img class="login__window-form-img actor" src="{% static 'images/039-actor.png' %}" alt="actor icon">
                <img class="register__window-form-img director-chair" src="{% static 'images/032-director-chair.png' %}" alt="chair icon">
            </form>
        </div>
    </section>
{% endblock %}