{% extends 'movieblog/base.html' %}
{% load static %}

{% block extra_scripts %}
    <script src="{% static 'js/script.js' %}"></script>
{% endblock %}

{% block navbar %}
    {% include 'movieblog/navbar.html' with categories=categories %}
{% endblock %}

{% block sidebar %}
    <aside class="account__menu">
        <svg class="account__menu-icons" enable-background="new 0 0 512 512" height="512" viewBox="0 0 512 512"
             width="512" xmlns="http://www.w3.org/2000/svg">
            <g>
                <g>
                    <g>
                        <path d="m416 230h-320c-19.299 0-35-15.701-35-35v-160c0-19.299 15.701-35 35-35h320c19.299 0 35 15.701 35 35v160c0 19.299-15.701 35-35 35z"
                              fill="#aed0ff"/>
                        <g>
                            <path d="m416 0h-160v230h160c19.299 0 35-15.701 35-35v-160c0-19.299-15.701-35-35-35z"
                                  fill="#6aa9ff"/>
                        </g>
                        <path d="m96 30c-2.757 0-5 2.243-5 5v160c0 2.757 2.243 5 5 5h320c2.757 0 5-2.243 5-5v-160c0-2.757-2.243-5-5-5z"
                              fill="#fff5f5"/>
                        <g>
                            <path d="m416 30h-160v170h160c2.757 0 5-2.243 5-5v-160c0-2.757-2.243-5-5-5z"
                                  fill="#e2dff4"/>
                        </g>
                        <g>
                            <path d="m216.001 170c-2.859 0-5.704-.817-8.175-2.422-4.258-2.767-6.826-7.5-6.826-12.578v-80c0-5.078 2.568-9.811 6.826-12.578 4.258-2.768 9.626-3.192 14.266-1.129l90 40c5.417 2.407 8.908 7.779 8.908 13.707s-3.491 11.3-8.908 13.707l-90 40c-1.947.866-4.023 1.293-6.091 1.293z"
                                  fill="#ff6326"/>
                        </g>
                        <g>
                            <path d="m312.092 101.293-56.092-24.93v77.273l56.092-24.93c5.417-2.406 8.908-7.778 8.908-13.706s-3.491-11.3-8.908-13.707z"
                                  fill="#ff1f3e"/>
                        </g>
                    </g>
                </g>
                <g>
                    <g>
                        <g>
                            <path d="m64.75 307v140h127.5v-140c0-16.569-13.431-30-30-30h-67.5c-16.569 0-30 13.431-30 30z"
                                  fill="#1766a0"/>
                            <path d="m192.25 307c0-16.569-13.431-30-30-30h-33.75v170h63.75z" fill="#08475e"/>
                        </g>
                        <g>
                            <path d="m192.25 307v140h127.5v-140c0-16.569-13.431-30-30-30h-67.5c-16.569 0-30 13.431-30 30z"
                                  fill="#1766a0"/>
                            <path d="m319.75 307c0-16.569-13.431-30-30-30h-33.75v170h63.75z" fill="#08475e"/>
                        </g>
                        <g>
                            <path d="m319.75 307v140h127.5v-140c0-16.569-13.431-30-30-30h-67.5c-16.569 0-30 13.431-30 30z"
                                  fill="#1766a0"/>
                            <path d="m447.25 307c0-16.569-13.431-30-30-30h-33.75v170h63.75z" fill="#08475e"/>
                        </g>
                    </g>
                    <g>
                        <g>
                            <path d="m1 387v110c0 8.284 6.716 15 15 15h112.5v-125c0-16.569-13.431-30-30-30h-67.5c-16.569 0-30 13.431-30 30z"
                                  fill="#1766a0"/>
                            <path d="m128.5 387c0-16.569-13.431-30-30-30h-33.75v155h63.75z" fill="#08475e"/>
                        </g>
                        <g>
                            <path d="m128.5 387v125h127.5v-125c0-16.569-13.431-30-30-30h-67.5c-16.569 0-30 13.431-30 30z"
                                  fill="#1766a0"/>
                            <path d="m256 387c0-16.569-13.431-30-30-30h-33.75v155h63.75z" fill="#08475e"/>
                        </g>
                        <g>
                            <path d="m256 387v125h127.5v-125c0-16.569-13.431-30-30-30h-67.5c-16.569 0-30 13.431-30 30z"
                                  fill="#1766a0"/>
                            <path d="m383.5 387c0-16.569-13.431-30-30-30h-33.75v155h63.75z" fill="#08475e"/>
                        </g>
                        <g>
                            <path d="m383.5 387v125h112.5c8.284 0 15-6.716 15-15v-110c0-16.569-13.431-30-30-30h-67.5c-16.569 0-30 13.431-30 30z"
                                  fill="#1766a0"/>
                            <path d="m511 387c0-16.569-13.431-30-30-30h-33.75v155h48.75c8.284 0 15-6.716 15-15z"
                                  fill="#08475e"/>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
        <h4>MovieBlog: Личный кабинет</h4>
        <hr>
        <div class="account__menu-links">
            <a href="{% url 'profiles:profile_details' user.id %}" class="profile">Мой профиль</a>
            <a href="{% url 'profiles:bookmarks' %}" class="favorites">Избранные новости</a>
{#            {% if user.is_superuser %}#}
{#                <div class="admin__links">#}
{#                    <a class="users">Все пользователи</a>#}
{#                    <a class="roles">Все роли</a>#}
{#                    <a class="posts">Все новости</a>#}
{#                    <a>Все жанры</a>#}
{#                </div>#}
{#            {% endif %}#}
        </div>
    </aside>
{% endblock %}