{% load static %}

<nav id="navbar">
    <div class="navbar__container">
        <a href="{% url 'home' %}" class="navbar__logo">
            <img src="{% static 'images/movieblog.png' %}" alt="Navbar logo">
            <span>MovieBlog</span>
        </a>
        <div class="toggle__mode">
            <input type="checkbox" class="toggle-mode__checkbox" id="toggle-mode__checkbox">
            <label class="toggle-mode__label" for="toggle-mode__checkbox">
                <i class="fas fa-moon"></i>
                <i class="fas fa-sun"></i>
                <span class="toggle-mode__ball"></span>
            </label>
        </div>
    </div>
    <div class="navbar__menu">
        <ul>
            <li>
                <a href="{% url 'posts:post_list' %}">Новости</a>
            </li>
            <li>
                <a>
                    Жанры
                    <svg class="navbar__menu-arrow" xmlns="http://www.w3.org/2000/svg"
                         width="451.847px" height="451.847px" viewBox="0 0 451.847 451.847"
                         xml:space="preserve">
                        <g>
                            <path d="M225.923,354.706c-8.098,0-16.195-3.092-22.369-9.263L9.27,151.157c-12.359-12.359-12.359-32.397,0-44.751
                                            c12.354-12.354,32.388-12.354,44.748,0l171.905,171.915l171.906-171.909c12.359-12.354,32.391-12.354,44.744,0
                                            c12.365,12.354,12.365,32.392,0,44.751L248.292,345.449C242.115,351.621,234.018,354.706,225.923,354.706z"/>
                        </g>
                    </svg>
                </a>
                <ul class="dropdown">
                    {% for category in categories %}
                        <li>
                            <a href="{% url 'posts:post_list' %}?category={{ category.id }}">{{ category.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'profiles:profile_details' user.id %}">
                        Личный кабинет
                        <svg class="navbar__menu-arrow" xmlns="http://www.w3.org/2000/svg"
                             width="451.847px" height="451.847px" viewBox="0 0 451.847 451.847"
                             xml:space="preserve">
                            <g>
                                <path d="M225.923,354.706c-8.098,0-16.195-3.092-22.369-9.263L9.27,151.157c-12.359-12.359-12.359-32.397,0-44.751
                                                                c12.354-12.354,32.388-12.354,44.748,0l171.905,171.915l171.906-171.909c12.359-12.354,32.391-12.354,44.744,0
                                                                c12.365,12.354,12.365,32.392,0,44.751L248.292,345.449C242.115,351.621,234.018,354.706,225.923,354.706z"/>
                            </g>
                        </svg>
                    </a>
                    <ul class="dropdown">
                        <li>
                            <a href="{% url 'profiles:profile_details' user.id %}">Мой профиль</a>
                        </li>
                        <li>
                            <a href="{% url 'profiles:bookmarks' %}">Избранные новости</a>
                        </li>
                    </ul>
                </li>
            {% endif %}
        </ul>
    </div>
    <div class="navbar__buttons">
        {% if user.is_authenticated %}
            <form action="{% url 'accounts:logout' %}?next={{ request.path }}" method="post">
                {% csrf_token %}
                <button type="submit" class="navbar__button logout">Выйти</button>
            </form>
        {% else %}
            <a href="{% url 'accounts:register' %}" class="navbar__button register">Зарегистрироваться</a>
            <a href="{% url 'accounts:login' %}?next={{ request.path }}" class="navbar__button login">Войти</a>
        {% endif %}
    </div>
    <div class="navbar__burger">
        <span></span>
    </div>
</nav>